<div class="editable-component {{type=== 'number' ? 'inline' : ''}}">
  <textarea *ngIf="isActiveInput"
      [(ngModel)]="entity[entityField]"
      (dblclick)="isActiveInput = true"
      [value]="entity[entityField]"
      (keydown.escape)="cancelUpdate()"
      (keyup.enter)="updateEntity()"
      class="{{className}} inline"></textarea>
  <span *ngIf="!isActiveInput" class="inline {{className}}">{{entity[entityField]}}</span>
  <div  class="inline">
    <button *ngIf="!isActiveInput" class="btn btn-sm btn-warning btn-editable" (click)="isActiveInput = true">Edit</button>
    <button *ngIf="isActiveInput"  class="btn btn-sm btn-success btn-editable" (click)="updateEntity($event)">Save</button>
    <button *ngIf="isActiveInput"  class="btn btn-sm btn-danger btn-editable" (click)="cancelUpdate()">Cancel</button>
  </div>
</div>
